*{
	font-family:Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height:16px;
	margin-bottom:16px;
	color:#555;
}
section{
	width:100%;
}
section div.container{
	width:870px;
	margin:0 auto;
	padding:32px 45px;
}
*[data-ui='popover-panel']{
	position:absolute;
	display:none;
	top:50%;
	left:50%;
	margin:-100px 0 0 -150px;
	padding:15px 30px;
	width:300px;
	height:170px;
	background: #eaeaea; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 0%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(top,  #fefefe 0%,#eaeaea 100%); /* W3C */
	border:1px solid #dbdbdb;
	border-radius:3px;
	box-shadow:0px 3px 30px 0px #eaeaea;
	z-index:9999;
}
*[data-ui='popover-close']{
	position:absolute;
	display:block;
	top:10px;
	right:10px;
	width:10px;
	height:10px;
	text-indent:-999em;
	background:url(../img/close.png) no-repeat;
}
*[data-ui='popover-mask']{
	display:none;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:black;
	opacity:0.7;
	filter:alpha(opacity=70);
}
